.cartDataContainer {
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.nazwa {
    flex:1;
}

.ilosc {
    flex:1;
    text-align: center;
}

.cena {
    flex:1;
    text-align: right;
}