.checkoutFormContainer {
    display: flex;
    justify-content: center;
}

.checkoutForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(252, 193, 2, 0.836);
    gap: 5px;
    width: 25rem;
    height: 25rem;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

.checkoutForm input {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    width: 15rem;
    height: 2rem;
    text-align: center;
}

.checkoutForm button {
    background-color: yellow;
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    width: 10rem;
    height: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.checkoutForm button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.checkoutActions {
    display: flex;
    gap: 10px
}
