.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(161, 10, 10,0.7);
    height: 7rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.70);
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoContainer img {
    margin-right: 10px;
}

.logoContainer p {
    font-size: 2em;
    color: gold;
}

.cartActionsSection {
    display: flex;
    justify-content: space-between;
}

.cartButton {
    display: flex;
    width: 10rem;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

.cartButton img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cartButton p {
    border: solid gold 2px;
    color: black;
    background-color: gold;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.cartButton:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hbot {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 148, 1);
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 6rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.70);
}

.hbot p {
    font-size: 1em;
    font-weight: bold;
    height: 2rem;
}

